<ion-header>

  <ion-navbar>
    <ion-buttons left>
      <button ion-button small (click)="onBackToPacientes()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Detalles {{paciente.nombre}}</ion-title>
    <ion-buttons right>
      <button ion-button small (click)="onEdit()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>{{paciente.nombre}}</ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col>Nombre</ion-col>
        <ion-col>{{paciente.nombre}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Propietario</ion-col>
        <ion-col>{{paciente.propietario}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Dirección</ion-col>
        <ion-col>{{paciente.direccion}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Mircochip</ion-col>
        <ion-col>{{paciente.microchip}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Especie</ion-col>
        <ion-col>{{paciente.especie}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Nacimiento</ion-col>
        <ion-col>{{paciente.fechaNacimiento | date:'mediumDate'}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Sexo</ion-col>
        <ion-col>
          <ion-icon *ngIf="paciente.sexo" name="female"></ion-icon>
          <ion-icon *ngIf="!paciente.sexo" name="male"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Castrado</ion-col>
        <ion-col *ngIf="paciente.castrado">Si</ion-col>
        <ion-col *ngIf="!paciente.castrado">No</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Peso</ion-col>
        <ion-col>{{paciente.peso}} kg.</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Teléfono</ion-col>
        <ion-col>{{paciente.telefono}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Dieta</ion-col>
        <ion-col>{{paciente.dieta}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col>Actividad</ion-col>
        <ion-col>{{paciente.actividad}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <button ion-button outline block color="danger" (click)="onDelete()">Eliminar</button>
</ion-content>
