<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!editar">Nuevo Paciente</ion-title>
    <ion-title *ngIf="editar">Editar Paciente</ion-title>
    <ion-buttons end *ngIf="editar">
      <button ion-button small (click)="onUpdate()">
        <ion-icon name="checkbox"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form (ngSubmit)="nuevoPaciente()">
    <ion-item>
      <ion-label color="dark">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="paciente.nombre" name="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Propietario</ion-label>
      <ion-input type="text" [(ngModel)]="paciente.propietario" name="propietario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="paciente.direccion" name="direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Microchip</ion-label>
      <ion-input type="number" [(ngModel)]="paciente.microchip" name="microchip"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Especie</ion-label>
      <ion-input type="text" [(ngModel)]="paciente.especie" name="especie"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Nacimiento</ion-label>
      <ion-datetime [(ngModel)]="paciente.fechaNacimiento" name="fechaNacimiento"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Sexo<ion-icon name="male"></ion-icon>/<ion-icon name="female"></ion-icon>
      </ion-label>
      <ion-toggle [(ngModel)]="paciente.sexo" name="sexo"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Castrado</ion-label>
      <ion-toggle [(ngModel)]="paciente.castrado" name="castrado"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Peso (kg)</ion-label>
      <ion-input type="number" [(ngModel)]="paciente.peso" name="peso"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Teléfono</ion-label>
      <ion-input type="tel" [(ngModel)]="paciente.telefono" name="telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Dieta</ion-label>
      <ion-input type="text" [(ngModel)]="paciente.dieta" name="dieta"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="dark">Actividad</ion-label>
      <ion-input type="text" [(ngModel)]="paciente.actividad" name="actividad"></ion-input>
    </ion-item>
    <button *ngIf="!editar" ion-button full clear type="submit">Añadir</button>
  </form>
</ion-content>
